{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<h1>{{ word.word_text }}</h1><br>
Searched Date : {{word.search_date}}<br>
Searched Count : {{word.search_count}}<br>
<br>
{% for detail in word.detail_set.all %}
	<table border="1">
		<tr><td>Type : </td><td>{{ detail.word_type }}</td></tr>
		<tr><td>Meaning : </td><td>{{ detail.word_meaning }}</td></tr>
		<tr><td>Sentence : </td><td>{{ detail.word_sentence }}</td></tr>
	</table><br>
{% endfor %}
<a href="/">Home</a>

