{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


<html>
	<head>
		<title>Word Bank</title>
	</head>
	<body>
		<center>
		<h1>Simple Word Bank</h1>
		
		<form method="POST" action="/search/">
			{% csrf_token %}
			<input type="text" name="word_text" id="search" placeholder="Search Word" />
			<input type="submit" value="Search !">
		</form>
		Latest word searched : 
		<br>
		<table border="1"><tr><td>Word</td><td>Search Date</td><td>Search Count</td></tr>
			{% for word in latest %}
				<tr>
				<td>{{word.word_text}}</td>
				<td>{{word.date}}</td>
				<td>{{word.count}}</td>
				</tr>
			{% endfor %}
		</table>
		<br>
		Most frequantly searched : 
		<br>
		<table border="1"><tr><td>Word</td><td>Search Date</td><td>Search Count</td></tr>
			{% for word in freq %}
				<tr>
				<td>{{word.word_text}}</td>
				<td>{{word.date}}</td>
				<td>{{word.count}}</td>
				</tr>
			{% endfor %}
		</table>

		<br><br>

		<form method="POST">
			<input type="text" name="word_text" id="id_new_word" placeholder="Enter a word" required />
			{% csrf_token %}
			<select name="word_type">
				<option value="Noun">Noun</option>
				<option value="Verb">Verb</option>
				<option value="Adjective">Adjective</option>
				<option value="Adverb">Adverb</option>
			</select>
			{% csrf_token %}
			<input type="text" name="word_meaning" id="meaning" placeholder="Enter a meaning" required />
			{% csrf_token %}
			<input type="text" name="word_sentence" id="sentence" placeholder="Enter a sentence" required />
			{% csrf_token %}
			<input type="submit" value="Add Word">
		</form>
		
		<form method="POST" action="/loadcsv/" enctype="multipart/form-data"> <!-- testing -->
			{% csrf_token %}
			Select CSV file to upload:
			<select name="timestamp">
				{% for record in backup %}
					<option value={{ record }}>{{ record }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Load table from CSV">
		</form>

		<form method="POST" action="/savecsv/">
			{% csrf_token %}
			<input type="submit" value="Save table to CSV">
		</form>

		<form method="POST" action="/downloadcsv/">
			{% csrf_token %}
			<input type="submit" value="Download table as CSV">
		</form>

		<form method="POST" action="/backupxml/">
			{% csrf_token %}
			<input type="submit" value="Backup table to XML">
		</form>

		<form method="POST" action="/restorexml/">
			{% csrf_token %}
			<input type="submit" value="Restore table from XML">
		</form>

			<!--If empty string detected -->
			{{empty_word}}<br>
			{{empty_meaning}}<br>
			{{empty_sentence}}<br>

		

		<table border="1" id="id_list_word" width="80%">
			<tr>
			<td><center>Word</center></td>
			<td><center>Type</center></td>
			<td><center>Meaning</center></td>
			<td><center>Example sentence</center></td>
			</tr>
			{% for word in word %}
				<tr>
				<td><center><a href="/detail/{{ word.word_text }}">{{ word.word_text }}</a></center></td>
				{% for detail in word.detail_set.all %}
					{% if forloop.counter == 1 %}
						<td><center>{{ detail.word_type }}</center></td>
						<td><center>{{ detail.word_meaning }}</center></td>
						<td><center>{{ detail.word_sentence }}</center></td>
					{% else %}
						<tr><td></td>
						<td><center>{{ detail.word_type }}</center></td>
						<td><center>{{ detail.word_meaning }}</center></td>
						<td><center>{{ detail.word_sentence }}</center></td></tr>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>

		</center>
	</body>
</html>
